<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="store_add">
        <observer name="cmstree_create_store_root_tree" instance="Woom\CmsTree\Observer\CreateStoreRootTree" />
    </event>
    <event name="store_delete">
        <observer name="cmstree_delete_store_root_tree" instance="Woom\CmsTree\Observer\DeleteStoreRootTree" />
    </event>
    <event name="cms_page_save_after">
        <observer name="process_url_rewrite_saving" disabled="true" />
        <observer name="cms_page_save_after_clear_menu_cache" disabled="true" />
        <observer name="process_url_rewrite_saving_tree" instance="Woom\CmsTree\Observer\ProcessUrlRewriteSavingObserver" />
        <observer name="cmstree_save_after_clear_menu_cache" instance="Woom\CmsTree\Observer\ClearMenuCache" />
    </event>
</config>
