<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn">
        <plugin sortOrder="2" name="redChampsOrderViewItemWeightDefaultColumn"
                type="RedChamps\WeightDisplay\Plugin\Order\View\DefaultColumn"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Items\Grid">
        <plugin sortOrder="1" name="redChampsWeightDisplayGrid"
                type="RedChamps\WeightDisplay\Plugin\Order\Create\Grid\Items"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Totals">
        <plugin sortOrder="1" name="redChampsWeightDisplayTotals"
                type="RedChamps\WeightDisplay\Plugin\Order\Create\Totals"/>
    </type>
    <type name="Magento\Sales\Model\Order\Pdf\Items\AbstractItems">
        <plugin sortOrder="1" name="redChampsWeightDisplayAbstractItems"
                type="RedChamps\WeightDisplay\Plugin\Pdf\Items\Options"/>
    </type>
</config>
