<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="redchamps" translate="label" sortOrder="999998">
            <label>RedChamps</label>
        </tab>
        <section id="weight_display" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Weight Display</label>
            <tab>redchamps</tab>
            <resource>RedChamps_WeightDisplay::config</resource>
            <group id="branding" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>RedChamps_WeightDisplay</label>
                <frontend_model>RedChamps\Core\Block\Adminhtml\System\Config\Form\Heading</frontend_model>
            </group>
            <group id="shopping_cart" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shopping Cart</label>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Choose Yes if you want to display weight details in storefront shopping cart
                    </comment>
                </field>
                <field id="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <comment>
                        Label for total weight
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="checkout" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Checkout</label>
                <field id="enabled" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Choose Yes if you want to display weight details in shipping step on the checkout
                    </comment>
                </field>
                <field id="position" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <source_model>RedChamps\WeightDisplay\Model\Config\Source\Checkout\Position</source_model>
                    <comment>
                        Choose position of total weight display at checkout
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <comment>
                        Label for total weight
                    </comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
