<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Mico_Core::menu" title="Mico Solutions" translate="title" module="Mico_Core" sortOrder="50" resource="Mico_Core::menu"/>
		<add id="Mico_Core::extensions" title="Mico Extensions" translate="title" module="Mico_Core" sortOrder="2" parent="Mico_Core::menu" resource="Mico_Core::extensions"/>
    </menu>
</config>
