<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="FME_Extensions::fmeextensions" title="FME Extensions" sortOrder="101">
                <resource id="FME_CanonicalUrl::main_menu" title="Canonical Url" 
                                          sortOrder="100">
                    <resource id="FME_CanonicalUrl::canonicalurl_configuration" title="Configuration" sortOrder="22" />
                </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="FME_CanonicalUrl::canonicalurl_config" title="Canonical Url"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
 