.shipping_arrival_date label {
    font-size: 14px !important;
    padding-left: 0 !important;
}
.control #shipping_arrival_date, #delivery_arrival_date {
    text-align: left;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    margin-right:0;
}
.ui-datepicker td span, .ui-datepicker td a, .ui-datepicker .ui-datepicker-calendar th {
    text-align:center;
    font-size:13px;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-disabled span {
    color: #ccc;
}
.shipping_arrival_date .ui-datepicker-trigger {padding-left:0!important;}
@media (min-width: 992px) {
    .checkout-index-index .ui-datepicker {
        width: 550px;
    }
}