<?xml version="1.0"?>
<!--
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_Productattach
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productattach>
            <general>
                <enable>1</enable>
            </general>
            <display>
                <productdetail>0</productdetail>
                <producttab>1</producttab>
                <tabname>Product Attachment</tabname>
                <attachment_view>table</attachment_view>
                <table_view_columns>header,icon,label,description,size,type,download</table_view_columns>
                <list_view_columns>icon,label,size</list_view_columns>
            </display>
            <attachment_block_info>
                <all_attachment_block_code>
                    <![CDATA[{{block class="Mageprince\Productattach\Block\AllAttachment" template="Mageprince_Productattach::all-attachment.phtml" show_icon=1 show_label=1 show_description=0 show_filetype=0 show_size=1 show_download=1 apply_customer_filter=1 apply_store_filter=1}}]]>
                </all_attachment_block_code>
                <attachment_by_file_type_block_code>
                    <![CDATA[{{block class="Mageprince\Productattach\Block\AllAttachment" file_type="pdf,doc" template="Mageprince_Productattach::all-attachment.phtml"}}]]>
                </attachment_by_file_type_block_code>
                <attachment_count_block_code>
                    <![CDATA[{{block class="Mageprince\Productattach\Block\AllAttachment" count="10" template="Mageprince_Productattach::all-attachment.phtml"}}]]>
                </attachment_count_block_code>
                <attachment_id_block_code>
                    <![CDATA[{{block class="Mageprince\Productattach\Block\AllAttachment" attachment_id="5,6" template="Mageprince_Productattach::all-attachment.phtml"}}]]>
                </attachment_id_block_code>
            </attachment_block_info>
        </productattach>
    </default>
</config>
