<div class="switch-field" afterRender="change('consumer')">
    <div class="switch">
        <input type="radio" name="order_type" id="radio-consumer" value="consumer" checked="checked" data-bind="click: click">
        <label for="radio-consumer" data-bind="i18n: 'Particulier'"></label>
    </div>
    <div class="switch">
        <input type="radio" name="order_type" id="radio-company" value="company" data-bind="click: click">
        <label for="radio-company" data-bind="i18n: 'Zakelijk'"></label>
    </div>
</div>
