body.bss-onestepcheckout .modal-content, body.bss-onestepcheckout .modal-header {border-width:0px;}
.fieldset.create-account .field .label {float:none;text-align: left;}
.form.form-login {margin-top:12px;}
.form.form-login .fieldset > .field {margin-bottom:5px;}
.fieldset.address {margin:0 -1%}
.fieldset.address .field {width:50%;float:left;padding:0 1%;margin-bottom:15px}
.form.form-postcodenl {display:grid;width:100%;}
.form.form-postcodenl .fieldset {margin-bottom:0}
.form-postcodenl .info-message {display:none}
body.checkout-index-index .checkout-shipping-address .step-content {margin-bottom:50px;}
#checkout-shipping-method-load tr.row {margin:0}
body.bss-onestepcheckout .page-wrapper #opc-sidebar .opc-block-summary .mark {font-size: 1.4rem;
    font-weight: 500;}
body.bss-onestepcheckout .form.form-discount .actions-toolbar {margin-left:0}
body.bss-onestepcheckout .form.form-discount input[type="text"] {height:37.5px}
.bss-onestepcheckout .page-wrapper {color: #31312f;}
body.bss-onestepcheckout .checkout-payment-method {padding-left:15px;}
body.bss-onestepcheckout .checkout-payment-method .label {color: #31312f;font-size:1.3rem}
body.bss-onestepcheckout  .checkout-payment-method .payment-method-content {padding:0;}

.checkout-index-index .checkout-agreements-block .action {
    background-color: transparent !important;
    color: #444 !important;
    white-space: normal;
    text-transform: none;
    font-size: 13px !important;
    text-align: left;
    padding: 0 !important;
}
.checkout-index-index .checkout-agreement label {width: 90%;}
.checkout-index-index .checkout-agreement input[type="checkbox"] {float:left;}
#opc-sidebar>.choice.field {
    padding-left: 15px;
    margin: 0;
    font-size: 13px;
}

@media (min-width: 769px), print {
    .fieldset > .field:not(.choice) > .control {
        width: 100%;
        float: left;
    }
}
