<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sitemap_item_process_before">
        <observer name="sitemap_item_process_before" instance="RedChamps\SitemapUrlExclude\Observer\SitemapItemBefore"/>
    </event>
</config>
