<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
	<system>
		<section id="cmp" translate="label comment"  type="text" 
			sortOrder="304"
			showInDefault="1" 
			showInWebsite="1"
			showInStore="1">
			<label><![CDATA[Custom Math Pricing]]></label>
			<tab>micosolutions</tab>
			<resource>Mico_Cmp::mico_cmp</resource>
			<group 
				id="config" 
				translate="label comment"  
				type="text" 
				sortOrder="2" 
				showInDefault="1" 
				showInWebsite="1"
				showInStore="1">
				<label><![CDATA[0. License Setting]]></label>
				<comment><![CDATA[<b>Version: </b> 2.0.5]]></comment>
				<field 
					id="active" 
					translate="label comment" 
					type="select" 
					sortOrder="0" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1" >
					<label><![CDATA[Enabled]]></label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[
					Activate Custom Math Pricing module.
					<style>
					.columns .form-list td.value { width: auto; }
					.columns .form-list { width: 100%; }
					.form-list td.scope-label { width:100px; }
					.form-list td.value input.input-text, .form-list td.value textarea { width:98% }
					.form-list td.value p.note { width:98%; }
					td pre { margin:0 !important; }
					.accordion .form-inline .config #cmp-index td { padding: 1rem .5rem; }
					.accordion .config #cmp-index td { padding: 1rem .5rem; }
					.note small {font-size:1.1rem; color:#e28b5d; }
					code {font-style:normal !important;}
					</style>
					]]></comment>
				</field>
				<field 
					id="license" 
					translate="label comment" 
					type="textarea" 
					sortOrder="2" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[License Key]]></label>
					<comment><![CDATA[
					<strong>**Required**</strong> If this is empty the extension will not work.
					<br/><br/>
					In a multi-store instance, be sure to place all licenses in the <b>Default config</b> scope, each license on a separate line.
					</br><br/>
					<span style="color:#F00"><strong>NOTE: Make sure the domain license you create matches the domain in Base Url config section.</strong></span>
					</br><br/>
					Go to <a href="http://www.micosolutions.com" title="Mico Solutions" target="_blank">www.micosolutions.com</a> to retrieve the license code from your account area.]]></comment>
				</field>
				
			</group>
			<group 
				id="labels" 
				translate="label comment"  
				type="text" 
				sortOrder="3" 
				showInDefault="1" 
				showInWebsite="1"
				showInStore="1">
				<label><![CDATA[1. Custom Math Variable Configuration]]></label>
				<comment><![CDATA[]]></comment>
				<field 
					id="attributevars" 
					translate="label comment" 
					type="textarea" 
					sortOrder="-1" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.1.</b> Assign Attribute to Variable]]></label>
					<comment><![CDATA[Assign product <strong>attribute code</strong> to a variable that will be used in custom math formula.
					<br/><br/>
					<strong>Attribute type supported:</strong> <em>Text Field</em>
					<br/><br/><strong>Mapping format:</strong> <em>attribute_code=&gt;your_variable_name;</em>
					<br/><br/><strong>Example:</strong>
					<br/><code>weight=&gt;w;
					<br/>color=&gt;c;
					<br/>size=&gt;s;
					<br/>...</code><br/>
					<br/><small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon. Use only lower-case letters for variable names and _underscores if you need to break up multiple words.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="options" 
					translate="label comment" 
					type="textarea" 
					sortOrder="0" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.2.</b> Assign Option Title to Variable]]></label>
					<comment><![CDATA[
					Assign product <strong>custom option title</strong> to a variable that will be used in custom math formula.
					<br/><br/>
					<strong>Option types supported:</strong> <em>Checkbox, Drop-down, Text Field, Radio Button</em>
					<br/><br/>
					<strong>Mapping format:</strong> <em>Custom Option Title=&gt;your_variable_name;</em>
					<br/><br/>
					<strong>Example:</strong><code>
					<br/>Banner Width=&gt;bw;
					<br/>Canvas Height=&gt;ch;
					<br/>Material Type=&gt;mt;
					<br/>Finishing Options=&gt;fo;
					<br/>Glass Color=&gt;glass;
					<br/>Frame Type=&gt;frame_type;
					<br/>...</code><br/>
					<br/><small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon. Use only lower-case letters for variable names and _underscores if you need to break up multiple words. <strong>Formula logic will fail if the custom option title is not an EXACT match to the product configuration, be sure to copy/paste your custom option title from product configuration page when mapping to a variable here.</strong></small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="nonoptions" 
					translate="label comment" 
					type="textarea" 
					sortOrder="1" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.3.</b> Assign Non-option Variable]]></label>
					<comment><![CDATA[
						Define variables that are not bound to any attribute or custom option but are still needed in your calculation. Variables can be the result of other {variables} from <strong>1.1</strong>, <strong>1.2</strong>, and <strong>1.3</strong>.
						<br/><br/><strong>Mapping format:</strong> <em>variable_name=&gt;expression;</em> <strong>OR</strong> <em>variable_name=&gt;value;</em>
						<br/><br/>
						<strong>Example:</strong><code>
						<br/>a=&gt;{b} * {c};
						<br/>d=&gt;{a} * 125;
						<br/>ba=&gt;{bw}*{bh};
						<br/>banner_discount=&gt;({ba} > 20) && ({ba} <= 50) ? 10 : 0;
						<br/>discount_one=&gt;({qty} &gt; 10) &amp;&amp; ({qty} &lt;= 20)? 1 : 0;
						<br/>discount_two=&gt;({qty} &gt; 20) &amp;&amp; ({qty} &lt;= 50)? 1 : 0;
						<br/>discount_three=&gt;({qty} &gt; 50) &amp;&amp; ({qty} &lt;= 100)? 1 : 0;
						<br/>discount_four=&gt;({qty} &gt; 100)? 1 : 0;
						<br/>...</code><br/>
						<br/><strong>Supported operators:</strong> <em>Calculation, Comparison and Conditional (<a href="#cmp_math-head">Reference</a>)</em>
						<br/><strong>Supported functions:</strong> <em>abs, ceil, floor, round</em>
						<br/><strong>Reserved variable names:</strong> <em>Avoid using reserved variable names and reserved underscore _suffixes (<a href="#cmp_math-head">Reference</a>)</em><br>
						<br/><small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon. Use only lower-case letters for variable names and _underscores if you need to break up multiple words.</small>
						<br/><br/>
					]]></comment>
				</field>
				<field 
					id="values" 
					translate="label comment" 
					type="textarea" 
					sortOrder="2" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.4.</b> Assign Special Values]]></label>
					<comment><![CDATA[
					Set special values for variables defined in 1.2 and 1.3.
					<br/><br/>
					<strong>Mapping format:</strong> <em>{your_variable_name}=&gt;value;</em>
					<br/><br/>
					<strong>Example:</strong><code>
					<br/>{width_default}=&gt;1;
					<br/>{height_default}=&gt;1;
					<br/>{width}_{one}=&gt;1;
					<br/>{width}_{two}=&gt;2;
					<br/>{glass}=&gt;1;
					<br/>{20 feet}=&gt;240;
					<br/>{20 inches}=&gt;20;
					<br/>{retailer}=>2;
					<br/>{guest}=>3;
					<br/>{customergroup}_{retailer}=>2;
					<br/>{customergroup}_{guest}=>3;
					<br/>...</code>
					<br/><br/>
					<small>Note: The values set in 1.4 get passed to price logic only. They <b>are not visible</b> on the product page as the option price. They are used in the final price calculation. Also, to use <strong>Customer Group</strong> variables in your formula, make sure you have <a href="#row_cmp_labels_cmpQty" title="Jump to 1.15">1.15</a> set to <strong>Yes.</strong></small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="initData" 
					translate="label comment" 
					type="textarea" 
					sortOrder="3" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.5.</b> Variable Init Values]]></label>
					<comment><![CDATA[<strong style="color:red;">Deprecated.</strong> This option will be removed soon. Non-option variables (1.3) can be used instead.<br/>
					<br/>Set the init value for options that do not exist in some products so the global price logic defined here in the admin area can be used on many products even though not all products have the same options. The perimeter option is used to ensure math is correct when using perimeter based calculations - should be set to zero so that perimeter calculations are not off by 1 on init calculations.
					<br/><br/>
					<strong>Mapping format:</strong> <em>your_variable_name=&gt;value;</em>
					<br/><br/>
					<strong>Example:</strong><code>
					<br/>depth=&gt;1;
					<br/>depth_perimeter=&gt;0;
					<br/>glass_price=&gt;0;
					<br/>license=&gt;0;
					<br/>license_price=&gt;0;
					<br/>...</code>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="unit" 
					translate="label comment" 
					type="text" 
					sortOrder="4" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.6.</b> Unit Option Labels]]></label>
					<comment><![CDATA[List product <b>custom option title(s)</b> that are used to offer different measurement units to customer on the product page. Semi-colon separated list when more than one option title used.
					<br/><br/>
					<strong>Option types supported:</strong> <em>Drop-down, Radio Button</em>
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>Measurements unit; How did you Measure?</code><br/><br/>
					]]></comment>
				</field>
				<field 
					id="radix" 
					translate="label comment" 
					type="text" 
					sortOrder="5" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.7.</b> Default Radix]]></label>
					<comment><![CDATA[
					Input the calculation square unit (width and height).
					<br/><br/>
					<strong>Example:</strong>
					<br/>Enter <b>1</b> when both are the same unit
					<br/>Enter <b>0.01</b> when width and height are in <b>cm</b> , but square unit is <b>m</b><br/><br/>
					]]></comment>
				</field>
				<field 
					id="min" 
					translate="label comment" 
					type="textarea" 
					sortOrder="16" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.8.</b> Min Input Setting]]></label>
					<comment><![CDATA[
					List of variables from 1.2 with their respective minimum acceptable numeric input value. Use the variable name only with <u>no curly brackets</u> around it.
					<br/><br/>
					<strong>Mapping format:</strong> <em>your_variable_name=&gt;value;</em>
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>width=&gt;5;
					<br/>height=&gt;8;
					<br/>...</code>
					<br/><br/>
					<small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon. Make sure your variable text matches exactly the value from 1.2 and be sure to NOT use curly {...} brackets around the variable name here.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="max" 
					translate="label comment" 
					type="textarea" 
					sortOrder="17" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.9.</b> Max Input Setting]]></label>
					<comment><![CDATA[
					List of variables from 1.2 with their respective maximum acceptable numeric input value. Use the variable name only with <u>no curly brackets</u> around it.
					<br/><br/>
					<strong>Mapping format:</strong> <em>your_variable_name=&gt;value;</em>
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>width=&gt;200;
					<br/>height=&gt;400;
					<br/>...</code>
					<br/><br/>
					<small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon. Make sure your variable text matches exactly the value from 1.2 and be sure to NOT use curly {...} brackets around the variable name here.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="alertMin" 
					translate="label comment" 
					type="text" 
					sortOrder="21" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.10.</b> Min Input Validation &lt; min]]></label>
					<comment><![CDATA[
					<strong>Example:</strong>&nbsp;&nbsp;<code>Min {title} = {min} {unit}</code>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="alertMax" 
					translate="label comment" 
					type="text" 
					sortOrder="22" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.11.</b> Max Input Validation &gt; max]]></label>
					<comment><![CDATA[
					<strong>Example:</strong>&nbsp;&nbsp;<code>Max {title} = {max} {unit}</code>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="customValidations" 
					translate="label comment" 
					type="textarea" 
					sortOrder="24" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.12.</b> Custom Validation and Alert]]></label>
					<comment><![CDATA[
					Semi-colon separated list of custom validation logic. At least one variable must be mapped from an option title to show the message on the product page.
					<br/><br/><strong>Mapping format:</strong> <em>Conditional formula :: Message;</em>
					<br/><br/><strong>Example:</strong>
					<br/><code>({width} &gt; 50) &amp;&amp; ({height} &gt; 50) :: Only one value may be &gt; 50 cm;
					<br/>({height}/{width}) &gt; 5 :: Height has to be smaller or equal to 5 times width;</code>
					<br/><br/>
					<small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="customPriceRemove" 
					translate="label comment" 
					type="textarea" 
					sortOrder="25" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.13.</b> Remove Custom Price]]></label>
					<comment><![CDATA[
					Use the Remove Custom price config if you use the {var_price} in your calculation logic, it will eliminate a duplicate option price issue. Magento will also calculate a price when you assign one to any custom option, this tells it to be ignored. List of variables from 1.2. Use the variable name only with <u>no curly brackets</u> around it.
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>finish;
					<br/>color;
					<br/>frame;</code>
					<br/><br/>
					<small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon. Make sure your variable text matches exactly the value from 1.2 and be sure to NOT use curly {...} brackets around the variable name here.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="cmpQty" 
					translate="label comment" 
					type="select" 
					sortOrder="31" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.14.</b> Update Quantity Instead of Price]]></label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[
					Change quantity on the product page and keep original price.
					]]></comment>
				</field>
				<field 
					id="cmpGroup" 
					translate="label comment" 
					type="select" 
					sortOrder="41" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.15.</b> Enable Customer Group]]></label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[
					Customer group name will be used in logic using the {customergroup} variable.
					]]></comment>
				</field>
				<field 
					id="loopoptions" 
					translate="label comment" 
					type="textarea" 
					sortOrder="51" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.16.</b> Use Special Value Options]]></label>
					<comment><![CDATA[
					Some custom option values should use the special value set in 1.4 after price calculations are complete, e.g. table range pricing based on a range of values.
					<br/><br/><strong>Mapping format:</strong> <em>variable_name=&gt;variable_name;</em>
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>discount_one=&gt;discount;
					<br/>sq_price=&gt;sq_price;</code>
					<br/><br/>
					<small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon. Make sure your variable text matches exactly the value from 1.2, 1.3 or 1.4 and be sure to NOT use curly {...} brackets around the variable name here.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="relations" 
					translate="label comment" 
					type="textarea" 
					sortOrder="61" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.17.</b> Relation Value Setting]]></label>
					<comment><![CDATA[
					Some custom option values should be set automatically by another value.
					<br/><br/>
					<strong>Option types supported:</strong> <em>Text Field</em>
					<br/><br/>
					<strong>Mapping format:</strong> <em>variable_name=&gt;variable_name</em>
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>width=&gt;{height} * 1.5;
					<br/>height=&gt;{width} / 1.5;</code>
					<br/><br/>
					<small>NOTE: 1.3 Non-option variables are <strong>not supported</strong> at this time.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="showTotal" 
					translate="label comment" 
					type="select" 
					sortOrder="71" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.18.</b> Show Total Price At Product Page]]></label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[
					<b>Yes</b> : Show Total Price.
					<br/><b>No</b> : Show Unit Price.
					]]></comment>
				</field>
				<field 
					id="keepSpecialValue" 
					translate="label comment" 
					type="select" 
					sortOrder="81" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>1.19.</b> Keep Global Special Values]]></label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[
					<b>Yes</b> : Keep Global Special Values.
					<br/><b>No</b> : Use only override Values.
					]]></comment>
				</field>
			</group>
			<group 
				id="math" 
				translate="label comment" 
				type="text" 
				sortOrder="4" 
				showInDefault="1" 
				showInWebsite="1"
				showInStore="1">
				<label><![CDATA[2. Custom Math and Logic Setting]]></label>
				<comment><![CDATA[<div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;" id="cmp-index">
							<p>Reference Index</p>
							<table width='100%' cellpadding='0' cellspacing='0'>
								<tr bgcolor='#99CCFF'>
									<td width='264' align='center'><strong>Reserved Variable names</strong></td>
									<td width=''></td>
									<td width=''></td>
								</tr>
								<tr>
								<tr>
									<td align='center'><pre>{customergroup}</pre></td>
									<td>&nbsp;</td>
									<td><em>The customer group customer is assigned to</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>{newprice}</pre></td>
									<td>&nbsp;</td>
									<td><em>The current price in calcuation</em></td>
								</tr>
								<td align='center'><pre>{price}</pre></td>
									<td>&nbsp;</td>
									<td><em>Product base price</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>{weight}</pre></td>
									<td>&nbsp;</td>
									<td><em>Product weight</em></td>
								</tr>
								<tr>
									<td align='center'><pre>{qty}</pre></td>
									<td>&nbsp;</td>
									<td><em>Product quantity</em></td>
								</tr>
								<tr bgcolor='#99CCFF'>
									<td align='center'><strong>Variables Explained</strong></td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align='center'><pre>{var}</pre></td>
									<td>&nbsp;</td>
									<td><em>Holds the value of the variable</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>{var_price}</pre></td>
									<td>&nbsp;</td>
									<td><em>Holds the value of the option price defined at product</em></td>
								</tr>
								<tr>
									<td align='center'><pre>_price</pre></td>
									<td>&nbsp;</td>
									<td><em>Call the option value price</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>_perimeter</pre></td>
									<td>&nbsp;</td>
									<td><em>Perimeter value to ensure accuracy for perimeter addition</em></td>
								</tr>
								<tr>
									<td align='center'><pre>_default</pre></td>
									<td>&nbsp;</td>
									<td><em>Default is when variable is not set, but product has it. Useful to set <code><span style="background:#F3F3F3">{var_default}</span></code> value when doing multiplication calculations so price does not zero out until another specific option gets set.</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>_{customerGroupName}</pre></td>
									<td>&nbsp;</td>
									<td><em>Lowercase customer group name to target specific customer group conditions. To be used only with the {customergroup} reserved variable. E.g. Retailer customer group can be mapped <code><span style="background:#F3F3F3">{customergroup}_{retailer}=>2;</span></code></em></td>
								</tr>
								<tr bgcolor='#FFF'>
									<td align='center'><pre>Variable init value config</pre></td>
									<td>&nbsp;</td>
									<td><em>For options not in all products (global use case)</em></td>
								</tr>
								<tr bgcolor='#99CCFF'>
									<td align='center'><strong>Calculation Operators</strong></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td align='center'><pre> * </pre></td>
									<td>&nbsp;</td>
									<td><em>Multiplication</em></td>
								</tr>
								<tr>
									<td align='center' bgcolor='#FFFFCC'><pre>+</pre></td>
									<td bgcolor='#FFFFCC'>&nbsp;</td>
									<td bgcolor='#FFFFCC'><em>Addition</em></td>
								</tr>
								<tr>
									<td align='center'><pre>-</pre></td>
									<td>&nbsp;</td>
									<td><em>Subtraction</em></td>
								</tr>
								<tr>
									<td align='center' bgcolor='#FFFFCC'><pre>/</pre></td>
									<td bgcolor='#FFFFCC'>&nbsp;</td>
									<td bgcolor='#FFFFCC'><em>Division</em></td>
								</tr>
								<tr>
									<td align='center'><pre>%</pre></td>
									<td>&nbsp;</td>
									<td><em>Modulo</em></td>
								</tr>								
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>( )</pre></td>
									<td>&nbsp;</td>
									<td><em>Order of operation</em></td>
								</tr>
								<tr bgcolor='#99CCFF'>
									<td align='center'><strong>Comparison Operators</strong></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td align='center'><pre>&gt;</pre></td>
									<td>&nbsp;</td>
									<td><em>Greater than</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>&lt;</pre></td>
									<td>&nbsp;</td>
									<td><em>Less than</em></td>
								</tr>
								<tr>
									<td align='center'><pre>==</pre></td>
									<td>&nbsp;</td>
									<td><em>Equals</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>&gt;=</pre></td>
									<td>&nbsp;</td>
									<td><em>Greater than or Equal to</em></td>
								</tr>
								<tr>
									<td align='center'><pre>&lt;=</pre></td>
									<td>&nbsp;</td>
									<td><em>Less than or equal to</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>!=</pre></td>
									<td>&nbsp;</td>
									<td><em>Not equal</em></td>
								</tr>
								<tr>
									<td align='center'><pre>!</pre></td>
									<td>&nbsp;</td>
									<td><em>Logical Not</em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>||</pre></td>
									<td>&nbsp;</td>
									<td><em>Logical Or</em></td>
								</tr>
								<tr>
									<td align='center'><pre>&amp;&amp;</pre></td>
									<td>&nbsp;</td>
									<td><em>Logical And</em></td>
								</tr>
								<tr bgcolor='#99CCFF'>
									<td align='center'><strong>Conditional Operators</strong></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td align='center'><pre>?:</pre></td>
									<td>&nbsp;</td>
									<td><em>(Advanced) The ternary operator is used for conditional logic.</em><br/>Usage: <b>(expr1) ? (expr2) : (expr3);</b><br/><span style="background:#F3F3F3">The expression (expr1) ? (expr2) : (expr3) evaluates to expr2 if expr1 is TRUE or expr3 if expr1 is FALSE. "Stacking" ternary expressions is supported but make sure to wrap the respective branches within (parenthesis). Stacking too many expressions within too many parenthesis may cause unexplainable results.</span></td>
								</tr>
								<tr bgcolor='#99CCFF'>
									<td align='center'><strong>Simple Functions</strong></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td align='center'><pre>abs</pre></td>
									<td>&nbsp;</td>
									<td><em>Returns the absolute value of number or variable. Usage: <b>abs({var})</b></em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>ceil</pre></td>
									<td>&nbsp;</td>
									<td><em>Returns the next highest integer value by rounding up value if necessary. E.g. 4.1 and 4.01 will ceil to 5. Usage: <b>ceil({var})</b></em></td>
								</tr>
								<tr>
									<td align='center'><pre>floor</pre></td>
									<td>&nbsp;</td>
									<td><em>Returns the next lowest integer value by rounding down value if necessary. E.g. 4.9 and 4.01 will floor to 4. Usage: <b>floor({var})</b></em></td>
								</tr>
								<tr bgcolor='#FFFFCC'>
									<td align='center'><pre>round</pre></td>
									<td>&nbsp;</td>
									<td><em>Returns the rounded value of val to nearest whole number. E.g. 3.4 and 3.499 rounds to 3, 3.5 and 3.519 rounds to 4. Usage: <b>round({var})</b></em></td>
								</tr>
							</table>
						</div>]]></comment>
				<field 
					id="basePrice" 
					translate="label comment" 
					type="textarea" 
					sortOrder="1" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.1.</b> Price Logic]]></label>
					<comment><![CDATA[
					A global price calculation formula can be set here and it can be overriden per product.
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>{width} * {height} * {price} + ({width} + {height}) * {glass_price}</code>
					<br/><br/>
					<strong>Supported variables:</strong> <em>{price} and any {var} defined in 1.1, 1.2, 1.3</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported operators:</strong> <em>Calculation</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported functions:</strong> <em>abs, ceil, floor, round</em>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="unit" 
					translate="label comment" 
					type="textarea" 
					sortOrder="2" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.2.</b> Unit Conversion]]></label>
					<comment><![CDATA[
					Conversion mapping for different radix options.
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>m=&gt;{val}*1;
					<br/>cm=&gt;{val}*0.01;
					<br/>mm=&gt;{val}*0.001;
					<br/>inches=&gt;{val}*0.0254;</code>
					<br/><br/>
					<strong>Supported operators:</strong> <em>Calculation</em> (<a href="#cmp-index"><em>Reference</em></a>)
					<br/><br/>
					<small>NOTE: We suggest one mapping per line for readability. Terminate each line with semi-colon.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="unitOptions" 
					translate="label comment" 
					type="textarea" 
					sortOrder="3" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.3.</b> Variables That Use Unit Conversion]]></label>
					<comment><![CDATA[
					Semi-colon separated list of variables.
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>width;height;</code>
					<br/><br/>
					<small>NOTE: Leave 2.3 empty to convert all variables with unit conversion math.</small>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="qty" 
					translate="label comment" 
					type="text" 
					sortOrder="6" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.4.</b> Subtract Qty Logic]]></label>
					<comment><![CDATA[
					Used to subtract quantity from inventory. Does not check actual qty when adding product to cart.
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>{width} * {height} * {qty}</code>
					<br/><br/>
					<strong>Supported variables:</strong> <em>{price}, {qty}, and any {var} defined in 1.1, 1.2, 1.3</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported operators:</strong> <em>Calculation, Comparison and Conditional</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported functions:</strong> <em>abs, ceil, floor, round</em>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="weight" 
					translate="label comment" 
					type="text" 
					sortOrder="8" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.5.</b> Weight Logic]]></label>
					<comment><![CDATA[
					<strong>Example:</strong>&nbsp;&nbsp;<code>{width} * {height} * {weight}</code>
					<br/><br/>
					<strong>Supported variables:</strong> <em>{price}, {qty}, and any {var} defined in 1.1, 1.2, 1.3</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported operators:</strong> <em>Calculation, Comparison and Conditional</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported functions:</strong> <em>abs, ceil, floor, round</em>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="upchargePrice" 
					translate="label comment" 
					type="textarea" 
					sortOrder="10" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.6.</b> Upcharge Logic]]></label>
					<comment><![CDATA[
					<strong>Example:</strong>
					<br/><code>({width} + {height} &gt= 1) &amp;&amp; ({width} + {height} &lt= 10) :: -0.15 * {width} * {height} * {price} ;<br/>
					({width} == 5) &amp;&amp; ({height} == 10) :: 0.15 * {width} * {height} * {price};</code>
					<br/><br/>
					<strong>Format explanation:</strong>
					<br/><em>{math of expression one} :: {math of price one} ; {math of expression two} :: {math of price two} ;</em>
					<br/><br/>
					<strong>Supported variables:</strong> <em>Reserved + any {var} defined in 1.1, 1.2, 1.3</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported operators:</strong> <em>Calculation, Comparison and Conditional</em> (<a href="#cmp-index"><em>Reference</em></a>)<br/>
					<strong>Supported functions:</strong> <em>abs, ceil, floor, round</em>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="attributes" 
					translate="label comment" 
					type="textarea" 
					sortOrder="21" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.7.</b> Math Override Attributes]]></label>
					<comment><![CDATA[
					Used for overriding per-product custom math logic and variables. This is where you map the attribute codes for each input area shown on the product config page.
					<br/><br/>
					<strong>Attribute types supported:</strong> <em>Text Area (Global Scope), Text Field (Global Scope)</em>
					<br/><br/>
					<strong>Mapping format:</strong> <em>reserved_cmp_feature_name=&gt;your_attribute_code</em>
					<br/><br/>
					<small>We suggest to copy the example values below so you don't have to manually create the attributes in your store. However, some multi-lang store owners prefer to create the attributes in their own language so it is possible to create them on your own and manually map each attribute to the correct cmp_override_feature, the choice is yours.
					<br/><br/>
					See section 2.9 below for instructions on how to auto-create the required attributes.</small>
					<br/><br/>
					<strong>Example:</strong>
					<br/><code>options=&gt;mico_cmp_options;
					<br/>nonoptions=&gt;mico_cmp_non_options;
					<br/>values=&gt;mico_cmp_values;
					<br/>init=&gt;mico_cmp_init;
					<br/>min=&gt;mico_cmp_min;
					<br/>max=&gt;mico_cmp_max;
					<br/>validations=&gt;mico_cmp_validations;
					<br/>custompriceremove=&gt;mico_cmp_custompriceremove;
					<br/>unit=&gt;mico_cmp_unit;
					<br/>unit_options=&gt;mico_cmp_unit_options;
					<br/>price=&gt;mico_cmp_price;
					<br/>upcharge=&gt;mico_cmp_upcharge;
					<br/>qty=&gt;mico_cmp_qty;
					<br/>weight=&gt;mico_cmp_weight;
					<br/>relations=&gt;mico_cmp_relations;
					<br/>csvrow=&gt;mico_cmp_csvrow;
					<br/>csvcol=&gt;mico_cmp_csvcol;
					
					</code>
					<br/><br/>
					<strong>Override Config Mapping Explained:</strong>
					<br/><strong>price:</strong> <i>price logic</i>
					<br/><strong>unit:</strong> <i>unit conversion</i>
					<br/><strong>unit_options:</strong> <i>variables that use unit conversion</i>
					<br/><strong>qty:</strong> <i>subtract qty logic</i>
					<br/><strong>weight:</strong> <i>weight logic</i>
					<br/><strong>upcharge:</strong> <i>upcharge logic</i>
					<br/><strong>options:</strong> <i>option labels</i>
					<br/><strong>nonoptions:</strong> <i>non-option variable</i>
					<br/><strong>init:</strong> <i>variable init values</i>
					<br/><strong>values:</strong> <i>special option values</i>
					<br/><strong>min:</strong> <i>min input validation</i>
					<br/><strong>max:</strong> <i>max input validation</i>
					<br/><strong>validations:</strong> <i>custom validation and alert</i>
					<br/><strong>custompriceremove:</strong> <i>remove custom price</i>
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="attributeSet" 
					translate="label comment" 
					type="multiselect" 
					sortOrder="23" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<source_model>Mico\Core\Model\System\Config\Attributeset</source_model>
					<label><![CDATA[<b>2.8.</b> Apply to Attribute Set(s)]]></label>
					<comment><![CDATA[
					New attributes will be created in the attribute set(s) selected above.
					<br/><br/>
					]]></comment>
				</field>
				<field 
					id="autoCreate" 
					translate="label comment" 
					type="checkbox" 
					sortOrder="26" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1">
					<label><![CDATA[<b>2.9.</b> Create Attributes]]></label>
					<comment><![CDATA[
					Use this checkbox to create the necessary attributes for per-product overrides. <span style="color:#F00;">Make sure you <strong>save  config settings at least once</strong> before using this checkbox. Read instructions below.</span>
					<br/><br/>
					<strong>How to use the auto create attribute checkbox:</strong>
					<br/>1. Copy the example mapping values from 2.7 helper-text into the text-area provided in 2.7
					<br/>2. Select the attribute set(s) you want the attributes to be created in
					<br/>3. Click [Save Config] button at top of the page
					<br/>3. After config saved, return here to 2.9 and check the Create Attributes checkbox
					<br/>4. Click [Save Config] button at top of the page
					<br/>5. Done!
					<br/><br/>
					]]></comment>
				</field>
			</group>
			<group 
				id="csv" 
				translate="label comment"  
				type="text" 
				sortOrder="5" 
				showInDefault="1" 
				showInWebsite="1"
				showInStore="1">
				<label><![CDATA[3. CSV Setting]]></label>
				<comment><![CDATA[ ]]></comment>
				<field 
					id="attribute" 
					translate="label comment" 
					type="text" 
					sortOrder="0" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1" >
					<label><![CDATA[3.1. CSV Price Attribute]]></label>
					<comment><![CDATA[
					<b>cmp_csv</b>
					]]></comment>
				</field>
				<field 
					id="row" 
					translate="label comment" 
					type="textarea" 
					sortOrder="0" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1" >
					<label><![CDATA[3.2. Row Math]]></label>
					<comment><![CDATA[
					<b>floor({w})</b>
					]]></comment>
				</field>
				<field 
					id="col" 
					translate="label comment" 
					type="textarea" 
					sortOrder="0" 
					showInDefault="1"
					showInWebsite="1" 
					showInStore="1" >
					<label><![CDATA[3.3. Col Math]]></label>
					<comment><![CDATA[
					<b>floor({h})</b>
					]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>